<%= form_for @profile, html: {multipart: true} do |f| %>
  <p>
  	<%= f.label :first_name  %> <br>
    <%= f.text_field :first_name, autofocus: true %>
  </p>
  <p>
  	<%= f.label :last_name  %> <br>
    <%= f.text_field :last_name, autofocus: true %>
  </p>
    <p>
  	<%= f.label :contact_email  %> <br>
    <%= f.text_field :contact_email %>
  </p>
  <p>
    <%= f.label "Github account"  %> <br>
    <%= f.text_field :github_url %>
  </p>
  <p>
    <%= f.label "Linkedin account"  %> <br>
    <%= f.text_field :linkedin_url %>
  </p>
  <p>
    <%= f.label "Personal Info"  %> <br>
    <%= f.text_area :bio %>
  </p>
  <% if @profile.photo.blank? == false %>
  <p>
    <%= image_tag @profile.photo.url(:medium) %>
  </p>
  <% end %>
    <p>
  	<%= f.label :photo  %> <br>
    <%= f.file_field :photo %>
  </p>
  <%= f.submit  %>
  
<% end %>