<%= form_for @profile, html: {multipart: true} do |f| %>
  <p>
    <%= f.text_field :first_name, autofocus: true, :class => "sign_up_text", :placeholder => "First Name" %>
  </p>
  <p>
    <%= f.text_field :last_name, autofocus: true, :class => "sign_up_text", :placeholder => "Last Name" %>
  </p>
    <p>
    <%= f.text_field :contact_email, :class => "sign_up_text", :placeholder => "Email" %>
  </p>
  <p>
    <%= f.text_field :github_url, :class => "sign_up_text", :placeholder => "Github Url" %>
  </p>
  <p>
    <%= f.text_field :linkedin_url, :class => "sign_up_text", :placeholder => "Linkedin Url" %>
  </p>
  <p>
    <%= f.text_area :bio, :class => "sign_up_text", :placeholder => "Bio" %>
  </p>
  <% if @profile.photo.blank? == false %>
  <p>
    <%= image_tag @profile.photo.url(:medium) %>
  </p>
  <% end %>
    <p>
  	<%= f.label :photo  %> <br>
    <%= f.file_field :photo %>
  </p>
  <%= f.submit  %>
  
<% end %>