<div class="profiles" style="text-align: left; margin-left: 20px;">

	<h1 style="text-align: center; font-family: 'Raleway', sans-serif;"> <%= @profile.first_name %> <%= @profile.last_name %></h1>
	<h3 style="text-align: center; font-family: 'Raleway', sans-serif;"> <%= @profile.contact_email %> </h3>

	<p><% if current_user.profile.id == @profile.id %>
		<%= link_to "Edit Profile", edit_profile_path %> | 
		<%= link_to "Add Project", new_project_path %>
		<%= link_to "View All Profiles", profiles_path, :class => "sign_up_text" %>

	<% end %></p>
		
		<% if @profile.photo %>
				<%= image_tag @profile.photo.url(:medium) %>
		<% end %>
		<br />
		
		<% if @profile.linkedin_url %>
		
				<a href="<%= @profile.linkedin_url %>"><img src="http://www.mckimcreed.com/content/images/shared/icon_linkedin48.png" /></a>
			
		<% end %>

		<% if @profile.github_url %>
		
				<a href="http://<%= @profile.github_url %>"><img src="http://komelin.com/sites/all/themes/komelin/images/icons/github.jpg" /></a>
		
		<% end %>

		<p style="text-align: center; font-family: 'Raleway', sans-serif; width: 300px;">
			<%= @profile.bio %>
		</p>

</div>

<div style="float: right; font-family: 'Raleway', sans-serif; width: 300px; text-align: right; margin-top: -450px; margin-right: 50px;">

<br />

	<% if @profile.microposts.blank? == false %>

			<h3>Status Updates:</h3>
		<% @profile.microposts.each do |p| %>
		  	<p class="posts">
				<%= p.content %>
			</p>
		<% end %>
	<% end %>


	<% if current_user.profile.id == @profile.id %>
		<%= form_for @profile.microposts.new , url: {controller: :profiles, action: :post}   do |f| %>

	   <%= f.text_field :content, :placeholder => "What's on your mind?" %>
	   <%= f.submit "Post Status" %>
		<% end %>
	<% end %>

	

</div>



<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
