<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "GAlums" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "GAlums" %>">
    
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

    <%= stylesheet_link_tag "flat-ui", media: "all", "data-turbolinks-track" => true %>


    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>


  </head>


  <body style="background-color: #A1AECC;">
    <%# application layout styled for Twitter Bootstrap 2.3 %>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
        <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>

    <br />
    <br />
    <br />
    <br />


    <main role="main">

      <div class="container">
        <div class="content">
           <div class="row">
            
              <!-- added with Devise for login notifications -->
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
              <%= yield %>
           
          </div>
          <footer>
            <%= render 'layouts/footer' %>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>
